<div class="iconPanel" id={icon}>
    <img class="iconImage" src="{svgLink}{icon}.svg" width="96px">
    <div class="iconDetails">
        <h3>{iconTitle}</h3>
        <div class="iconCopy">
            <div class="iconFormats">
                <a class="iconLink" onclick="copyUrl(event)" href="{svgLink}{icon}.svg">SVG</a> |
                <a class="iconLink" onclick="copyUrl(event)" href="{pngLink}{icon}.png">PNG</a> |
                <a class="iconLink" onclick="copyUrl(event)" href="{webpLink}{icon}.webp">WEBP</a>
            </div>
        </div>
    </div>
</div>
