<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arcticons Selfhosted - Arcticons for selfhosted dashboards</title>
    <link rel='stylesheet' type='text/css' href='style.css'>
</head>
  <body>
    <header>
      <h1>Arcticons for selfhosted dashboards</h1>
      <hr>
      <nav>
          <p>
            <a href="https://docs.arcticons.com/selfhosted">Contribute</a>
            <text> - </text>
            <a href="https://github.com/Arcticons-team/Arcticons-selfhosted">Source Code</a>
          </p>
      </nav>
      <p>Total available icons: {iconCount}</p]>
      <p>Search for an icon and click on the desired format to copy its file URLs</p>
    </header>
    <center id="search">
      <input id="searchBar" class="searchBar" type="search" placeholder="search" autofocus>
      <button class="light-mode-button" onclick="lightMode()">💡/🌙</button>    
      <div class="category-filters">
      </div>
    </center>
    <div id="popup">
      URL copied!
    </div> 
    <div class="iconList">
    </div>
    <script src="js/search.js"></script>
    <script src="js/buttons.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/switch.js"></script>
  </body>
</html>
