<header>
    <h1>Arcticons for selfhosted dashboards (demo)</h1>
    <hr>
    <nav>
        <p>
        <a href="https://docs.arcticons.com/selfhosted">Contribute</a>
        <text> - </text>
        <a href="https://github.com/stratself/arcticons-selfhosted-demo">Source Code</a>
        <text> - </text>
        <a href="https://github.com/stratself/rcticons-selfhosted-demo/blob/master/PRIVACY.md">Privacy</a>
        </p>
    </nav>
    <p>Total available icons: {{ config.iconCount }}</p>
    <p>Search for an icon and click to copy its URL</p>
</header>